@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color:black !important;
} 


@layer components {
  .nav-items {
    @apply  text-sm transition-colors
            hover:text-slate-400
            focus:text-slate-400 
            focus:underline;
  }
}
.bg-black-opacity {
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

